*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: #bbbbbb;
    color: #000000;
    margin: 0;
}
header {
   background-color:#000000;
}
header h1{
    margin: 0;
    padding: 25px;
    text-decoration:none;
    color: #66ff00;
    text-align: center;
}
main{
    padding:20px;
}
main p {
    text-align: justify;  
}
footer p {
    text-align: center;
}